.welcomeBody {
  background: url(resources/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

title {
  background-color: rgb(80, 80, 208);
  color: white;
}

.heading1 {
  background-color: rgba(19, 20, 28, 0.344);
  border-radius: 30px;
  min-height: 30%;
  padding: 2%;
  max-width: 35%;
  margin-top: 10%;
}

/* .heading2{
    position: relative;
    background-color: rgba(240, 248, 255, 0.465);
    border-radius: 20px;
    margin-left:35%;
    min-height: 30%;
    padding: 2%;
    max-width: 35%;
    margin-top: 10%;
  } */
.buttons {
  margin-left: 40%;
  margin-right: 1%;
  max-width: 20%;
  border-radius: 10px;
  margin-top: 1%;
}

.button1 {
  background-color: rgba(108, 132, 205, 0.621);
}

.btn {
  background-color: rgba(80, 101, 139, 0.678);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: rgb(136, 164, 173);
  color: black;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}


.navbar {
  background-color: #93aceb1a;
}

.welcome {
  font-size: 3rem;
  color: rgb(39, 116, 179);
  text-align: center;
  font-family: 'Circular Std', sans-serif;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.welcome:hover {
  color: rgb(103, 139, 238);
  /* transform: rotate(10deg); */
  transform: translateY(-10px);
  text-decoration: solid;
}